<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.android.richnotification.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.samsung.android.richnotification.sample.RichNotificationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.samsung.android.richnotification.sample.MyCallbackActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver android:name="com.samsung.android.richnotification.sample.MyCallbackReceiver" >
            <intent-filter>
                <action android:name="com.samsung.android.richnotification.sample.callback_broadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.richnotification.sample.DeviceStateReceiver" >
            <intent-filter>
                <action android:name="com.samsung.wmanager.rich_notification.DEVICE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>