<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sinch.android.rtc.sample.push"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-feature
            android:name="android.hardware.microphone"
            android:required="false"/>

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission android:name="com.sinch.android.rtc.sample.push.gcm.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="com.sinch.android.rtc.sample.push.gcm.permission.C2D_MESSAGE"/>


    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <service android:name=".SinchService"></service>
        <receiver
                android:name=".gcm.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.sinch.android.rtc.sample.calling"/>
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService"/>

        <activity
                android:name=".LoginActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CallScreenActivity" android:screenOrientation="portrait"/>
        <activity android:name=".IncomingCallScreenActivity" android:screenOrientation="portrait"
                  android:noHistory="true" android:autoRemoveFromRecents="true"/>
        <activity android:name=".PlaceCallActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>
