<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.audiosuite.sapainstrumentsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.samsung.android.sdk.professionalaudio.permission.USE_CONNECTION_SERVICE" />
    <uses-permission android:name="com.samsung.android.sdk.professionalaudio.permission.START_MONITOR_SERVICE"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/keyboard"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
        	android:name="com.samsung.audiosuite.sapainstrumentsample.LauncherActivity"
        	android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samsung.audiosuite.sapainstrumentsample.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.INFO" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.android.sdk.professionalaudio.action.MAIN" />

                <category android:name="com.samsung.android.sdk.professionalaudio.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.android.sdk.professionalaudio" />                
            </intent-filter>   

            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.category"
                android:value="instrument" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.version"
                android:value="v1.0" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.vendorname"
                android:value="samsung" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.productgroupname"
                android:value="samples" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.appname"
                android:value="sapa instrument sample" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.multiinstanceenabled"
                android:value="true" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.backgroundservice"
                android:value="com.samsung.audiosuite.sapainstrumentsample.MainService" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.midiinportcount"
                android:value="0" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.midioutportcount"
                android:value="0" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.audioinportcount"
                android:value="0" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.audiooutportcount"
                android:value="2" />
            <meta-data
                android:name="com.samsung.android.sdk.professionalaudio.sapaappinfo.description"
                android:value="This a simple sample application generating sound" />
        </activity>

        <service
            android:name="com.samsung.audiosuite.sapainstrumentsample.MainService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.samsung.android.sdk.professionalaudio.permission.USE_CONNECTION_SERVICE" >
            <intent-filter>
                <action android:name="com.samsung.audiosuite.sapainstrumentsample.MainService" />
            </intent-filter>
        </service>
    </application>

</manifest>
