<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.android.sdk.professionalaudio.sample.simpleplugin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
	<service
            android:name="com.samsung.android.sdk.professionalaudio.sample.simpleplugin.Svc"
            android:label="SapaSimplePlugin" >
            <intent-filter>
                <action android:name="com.samsung.android.sdk.professionalaudio.plugin.PICK" />
            </intent-filter>
        </service>
        <meta-data android:name="SapaSimplePlugin" android:value="1;Simple v1.0;SapaSimplePlugin;libsimple_sine.so;;a simple plugin generating a sine wave" />

    </application>

</manifest>
